<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    {% metagen metadata %}
  </head>
  <body class="container">
    {% include 'components/header.njk' %}
    {{ content | safe }}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ '/assets/js/background.js' | url }}" ></script>
  <script src="{{ '/assets/js/copy_code.js' | url }}" ></script>
  
</html>


