  <section class="about flex flex-col md:flex-row" id="about">
    <div class="left hidden md:block md:w-1/2">
        <img class="w-full" src="{{ '/assets/img/me.jpg' | url }}" alt="#" />
    </div>
    <div class="right flex flex-col justify-around w-full md:w-1/2 bg-slate-100 p-10">
        <h2 class="text-6xl">Sobre mí</h2>
        <div>
            <p class="text-base md:text-3xl my-10">Soy, una persona decidida, proactiva, responsable y amigable. Me gusta trabajar en equipo y siempre estoy dispuesto a aprender nuevas cosas. Soy adaptable y creativo, lo que me permite resolver problemas de manera efectiva. Además, soy comunicativo, organizado y detallista. Estoy seguro de que estas cualidades me permitirán desempeñarme de manera efectiva en cualquier rol que desempeñe.</p>
        </div>
    </div>
  </section>
