<header class="w-full bg-slate-900 text-white text-xl flex justify-end px-8 py-4">
  <nav>
    <a class="mr-10" href="{{ '/' | url }}">Inicio</a>
    <a href="{{ '/posts/' | url }}">Blog</a>
  </nav>
</header>
