  <section class="hero flex flex-col md:flex-row">
    <div class="left text-white md:w-1/2 flex flex-col justify-around bg-slate-800 md:h-screen p-10">
      <div class="icons flex flex-wrap justify-center md:justify-start mb-10 md:mb-0">
        {% icon 'html' %}
        {% icon 'css' %}
        {% icon 'js' %}
        {% icon 'react' %}
        {% icon 'svelte' %}
        {% icon 'bootstrap' %}
        {% icon 'tailwindcss' %}
      </div>
      <h1 class="opacity-0 text-4xl text-center md:text-6xl md:text-left">Lleva tus diseños a la realidad</h1>
      <div class="text-lg font-bold text-center my-10 md:text-left md:my-0">
        <h2 class="opacity-0">Yonaiker Barreto</h2>
        <h3 class="opacity-0">Maquetador web y redactor digital</h3>
      </div>
      <div class="mx-auto md:mx-0">
        <a href="#about" class="opacity-0 bg-red-500 rounded-lg px-6 py-2">Conoce más</a>
      </div>
    </div>
    <div class="right relative hidden md:block md:w-1/2">
      <div class="bg-container overflow-hidden absolute w-full h-full flex justify-center items-center bg-slate-950"></div>
    </div>
  </section>
