  <section class="bg-slate-800 p-16">
    <div class="mb-10">
      <h2 class="text-4xl md:text-6xl font-semibold text-white">Mis trabajos</h2>
    </div>
    <div class="proyects gap-6">
      <div class="proyect relative">
        <a href="https://eliezer516.github.io/minicode/" target="_blank">
          <img class="h-full object-cover" src="{{ 'assets/img/minicode.png' | url }}" alt="proyect" />
          <div class="absolute bottom-0 px-4 py-10 bg-gradient-to-t from-black w-full">
            <p class="text-white font-semibold text-4xl">Minicode</p>
          </div>
        </a>
      </div>
      <div class="proyect relative">
        <a href="https://eliezer516.github.io/minijs/" target="_blank">
          <img class="h-full object-cover" src="{{ 'assets/img/minijs.png' | url }}" alt="proyect" />
          <div class="absolute bottom-0 px-4 py-10 bg-gradient-to-t from-black w-full">
            <p class="text-white font-semibold text-4xl">Minijs</p>
          </div>
        </a>
      </div>
      <div class="proyect relative">
        <a href="https://inverbapi3.onrender.com/" target="_blank">
          <img class="h-full object-cover" src="{{ 'assets/img/escritorio.png' | url }}" alt="proyect" />
          <div class="absolute bottom-0 px-4 py-10 bg-gradient-to-t from-black w-full">
            <p class="text-white font-semibold text-4xl">Escritorio contable</p>
          </div>
        </a>
      </div>
      <div class="proyect relative">
        <a href="https://eliezer516.github.io/buscador-de-pelis-v2/" target="_blank">
          <img class="h-full object-cover" src="{{ 'assets/img/pelis.png' | url }}" alt="proyect" />
          <div class="absolute bottom-0 px-4 py-10 bg-gradient-to-t from-black w-full">
            <p class="text-white font-semibold text-4xl">Buscador de peliculas</p>
          </div>
        </a>
      </div>
      <div class="proyect relative">
        <a href="https://dreamy-minsky-045cb7.netlify.app/" target="_blank">
          <img class="h-full object-cover" src="{{ 'assets/img/formulario.png' | url }}" alt="proyect" />
          <div class="absolute bottom-0 px-4 py-10 bg-gradient-to-t from-black w-full">
            <p class="text-white font-semibold text-4xl">Fomulario de registro</p>
          </div>
        </a>
      </div>
      <div class="proyect relative">
        <a href="https://eliezer516.github.io/mdprev/" target="_blank">
          <img class="h-full object-cover" src="{{ 'assets/img/mdprev.png' | url }}" alt="proyect" />
          <div class="absolute bottom-0 px-4 py-10 bg-gradient-to-t from-black w-full">
            <p class="text-white font-semibold text-4xl">Mdprev</p>
          </div>
        </a>
      </div>
    </div>
  </section>
