  <section class="quote flex flex-col md:flex-row h-min md:h-96 bg-slate-900 text-white">
      <div class="w-ful md:w-1/2 p-10 flex items-start">
          <h2 class="text-4xl md:text-6xl">David Heath</h2>
      </div>
      <div class="w-ful md:w-1/2 p-10 flex items-end">
        <p class="text-base md:text-3xl text-right">"El diseño web no es solo sobre crear algo visualmente atractivo. Se trata de la funcionalidad y la usabilidad, de cómo los usuarios experimentan tu sitio web".</p>
      </div>
      </div>
  </section>
