---
layout: base.njk
title: "Portafolio"
desc: Lleva tus diseños a la realidad, Yonaiker Barreto Maquetador web y redactor digital
eleventyComputed:
  metadata:
    title: "{{ title }}"
    img: "https://v1.screenshot.11ty.dev/http%3A%2F%2Feliezer516.github.io%2F/opengraph/"
    desc: "{{ desc }}"
    name: "Yonaiker Barreto"
---
<main>
  {% include 'components/hero.njk' %}
  {% include 'components/quote.njk' %}
  {% include 'components/about.njk' %}
  {% include 'components/proyectos.njk' %}
  {% include 'components/publicaciones.njk' %}
  {% include 'components/contacto.njk' %}
</main>
