---
layout: base.njk
title: "Pruebas tecnicas"
desc: "Además de ser desarrollador web, también tengo experiencia como redactor digital. Me apasiona escribir sobre tecnología, negocios, marketing digital y otros temas relevantes para la web."
eleventyComputed:
  metadata:
    title: "{{ title }}"
    desc: "{{ desc }}"
    name: "Yonaiker Barreto"
---
<main class="p-8">
  <h1 class="text-6xl">{{ title }}</h1>
</main>

